* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.main-menu {
    text-align:center;

    .col-xs-6, .col-xs-12 {
        //border: 1px #eee solid;
        height: 106px;
    }

    img {
        margin: 5px 0 0 0;
    }

    a, a:hover {
        color: #333;
        text-decoration:none;
    }
}

.actions {
    margin: 0 0 18px 0;
}

.village-list li {
    margin: 0 0 18px 0;
}