* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.main-menu {
  text-align: center;
}
.main-menu .col-xs-6,
.main-menu .col-xs-12 {
  height: 106px;
}
.main-menu img {
  margin: 5px 0 0 0;
}
.main-menu a,
.main-menu a:hover {
  color: #333;
  text-decoration: none;
}
.actions {
  margin: 0 0 18px 0;
}
.village-list li {
  margin: 0 0 18px 0;
}
