* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

.main-menu {
    text-align:center;

    .col-xs-6, .col-xs-12 {
        border: 1px #333 solid;
        height: 80px;
        line-height: 80px;
    }
}

.actions {
    margin: 0 0 18px 0;
}

.village-list li {
    margin: 0 0 18px 0;
}