<div class="main-menu">
    
    <div class="update" ng-click="reset()">
        <img src="gfx/Refresh.png">
    </div>

    <div class="row">
        <div class="btn-small">
            <span>
                <img src="gfx/Contacts.png">
                <br>
                Contacts
            </span>
        </div>

        <div class="btn-small">
            <span>
                <img src="gfx/Status.png">
                <br>
                Status
            </span>
        </div>
    </div>

    <div class="row">
        <div class="btn-large">
            <span ng-click="$navigate.go('/village/select')">
                <img src="gfx/CollectData.png">
            </span>
        </div>
    </div>

    <div class="row">
        <div class="btn-small">
            <span ng-click="$navigate.go('/faqs')">
                <img src="gfx/FAQs.png">
                <br>
                FAQs
            </a>
        </div>

        <div class="btn-small">
            <span ng-click="$navigate.go('/pages/training')">
                <img src="gfx/Training.png">
                <br>
                Training
            </span>
        </div>
    </div>
</div>
