<div class="toolbar-menu">
    <span ng-click="pew('/')">
        <img src="gfx/iconHome.png">
    </span>
    <span ng-click="$navigate.back('/')">
        <img src="gfx/iconContacts.png">
    </span>
    <span ng-click="$navigate.back('/faqs')">
        <img src="gfx/iconFAQs.png">
    </span>
    <span ng-click="$navigate.back('/')">
        <img src="gfx/iconStatus.png">
    </span>
    <span ng-click="$navigate.back('/pages/training/')">
        <img src="gfx/iconTraining.png">
    </span>
</div>