<p>Please select the village that you would like to capture:</p>

<ol class="village-list">
     <li ng-repeat="village in villages" ng-click="selectVillage(village)">
        <p>{{ village.name }}</p>
        

        <button class="btn btn-info" ng-click="form_1(village)">Village Profile</button>

        <button class="btn btn-info" ng-click="form_2(village)">Monthly Report</button>
     </li>
</ol>

<p>Or, create a new village:</p>
<form ng-controller="createVillageController" ng-submit="create(name)">
    <div class="form-group">
        <label for="name">Village name</label>
        <input class="form-control" type="text" name="name" id="name" ng-model="name" placeholder="E.g.: Pretoria" required>
        <p class="text-danger" ng-show="duplicate">
            A village of this name already exists. Please try again
        </p>
    </div>
    <input class="btn btn-primary" type="submit" value="Create">
</form>
